* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 16px;
}
body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("../img/bacgraund.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
section {
  width: 80vw;
  height: 90vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  border: 2px red dashed;
}
.x-menu {
  background-color: silver;
  width: 4rem;
  height: 3.5rem;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  position: relative;
}
.line {
  width: 3rem;
  height: 0.5rem;
  background-color: gray;
  border-radius: 25%;
}
.x-menu:hover .first {
  transform: rotate(0.15turn);
  position: absolute;
}
.x-menu:hover .thr {
  transform: rotate(-0.15turn);
  position: absolute;
}
.x-menu:hover .sec {
  display: none;
}
.home-page {
  width: 16%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
.about-Me,
.my-projects img,
.contact-Me {
  height: 5rem;
  width: 5rem;
  display: flex;
}
